<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="apBiblioteca.Properties.Settings.BD19040ConnectionString"
            connectionString="Data Source=regulus.cotuca.unicamp.br;Initial Catalog=BD19040;User ID=BD19040;Password=Cotrimpd19"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>